.container {
    max-width: 800px;
    padding-top: 10px;
    position: relative;
    font-family: 'Playfair Display', serif;
    color: #404246;
}

.centered {
    text-align: center;
}

.btn-primary,
.btn-secondary,
.btn-info { /* Added style for btn-info */
    background-color: #6e6ad4; /* Blue background color */
    border-color: #c4c3df; /* Darker blue border color */
    color: #ffffff; /* White text color */
    width: auto; /* Let the width adjust to content */
    white-space: nowrap; /* Prevent text from wrapping */
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-info:hover { /* Added style for btn-info on hover */
    background-color: #8481d5; /* Darker blue on hover */
    border-color: #5450c6; /* Darker border on hover */
}

.header {
    font-size: 1.7em;
    margin: 0; /* Reset margin */
    font-weight: bold;
}

input[type=submit] {
    background-color: #c8102e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.95em;
}

input[type=submit]:hover {
    background-color: #850a1e;
}

.search-text {
    border: 1px solid #5f6368;
    box-shadow: 1px; /* This might need more context; consider removing if unnecessary */
    z-index: 3;
    height: 42px;
    margin: 0 auto;
    width: auto;
    min-width: 300px;
    max-width: 600px;
    font-size: 0.95em;
    padding-left: 20px;
}
